/* label.switch is the clickable area */
label.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 28px;
  background: none; }
  label.switch > input {
    display: none; }

/* .toggle will be the track
 * .toggle::before will be the toggle
 * .toggle::after will be the toggle's shadow
 */
input[type=checkbox] + .toggle {
  position: absolute;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 0px;
  width: 36px;
  height: 14px;
  cursor: pointer;
  border-radius: 7px;
  border: none;
  background: #5E5E5E;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
input[type=checkbox] + .toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #009688;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
input[type=checkbox] + .toggle::after {
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: none;
  opacity: 0;
  -moz-box-shadow: 0px 2px 4px 0px black;
  -webkit-box-shadow: 0px 2px 4px 0px black;
  -ms-box-shadow: 0px 2px 4px 0px black;
  box-shadow: 0px 2px 4px 0px black;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out; }
input[type=checkbox]:checked + .toggle {
  background: #00897b; }
input[type=checkbox]:checked + .toggle::before {
  transform: translate(16px, 0);
  background: #009688; }
input[type=checkbox]:checked + .toggle::after {
  transform: translate(16px, 0); }
input[type=checkbox]:hover:not(:disabled) + .toggle {
  background: #5E5E5E; }
input[type=checkbox]:hover:not(:disabled) + .toggle::before {
  background: #26a69a; }
input[type=checkbox]:hover:not(:disabled):checked + .toggle {
  background: #00897b; }
input[type=checkbox]:hover:not(:disabled):checked + .toggle::before {
  background: #26a69a; }
input[type=checkbox]:hover:not(:disabled) + .toggle::after {
  opacity: 1; }
input[type=checkbox]:active:not(:disabled) + .toggle::before {
  background: #009688; }
input[type=checkbox]:active:not(:disabled):checked + .toggle::before {
  background: #009688; }
input[type=checkbox]:active:not(:disabled) + .toggle::after {
  opacity: 1; }
input[type=checkbox]:disabled + .toggle {
  background: #5E5E5E;
  cursor: default; }
input[type=checkbox]:disabled + .toggle::before {
  background: #959595; }
input[type=checkbox]:disabled:checked + .toggle {
  background: #7E7E7E; }
input[type=checkbox]:disabled:checked + .toggle::before {
  background: #959595; }

/* Remove default styles ======================================================== */
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */ }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; }

/* Thumb style ================================================================= */
input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #009688;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
  margin-top: -5px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #009688;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
input[type=range]::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  background: #009688;
  cursor: pointer;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-top: 1px; }
input[type=range]:disabled::-webkit-slider-thumb {
  cursor: default;
  background: #959595;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
input[type=range]:disabled::-moz-range-thumb {
  cursor: default;
  background: #959595;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
input[type=range]:disabled::-ms-thumb {
  cursor: default;
  background: #959595;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
input[type=range]:focus::-webkit-slider-thumb, input[type=range]:hover:not(:disabled)::-webkit-slider-thumb {
  background: #26a69a;
  box-shadow: 0px 2px 4px 0px black; }
input[type=range]:focus::-moz-range-thumb, input[type=range]:hover:not(:disabled)::-moz-range-thumb {
  background: #26a69a;
  box-shadow: 0px 2px 4px 0px black; }
input[type=range]:focus::-ms-thumb, input[type=range]:hover:not(:disabled)::-ms-thumb {
  background: #26a69a;
  box-shadow: 0px 2px 4px 0px black; }
input[type=range]:active:not(:disabled)::-webkit-slider-thumb {
  background: #009688;
  box-shadow: 0px 2px 4px 0px black; }
input[type=range]:active:not(:disabled)::-moz-range-thumb {
  background: #009688;
  box-shadow: 0px 2px 4px 0px black; }
input[type=range]:active:not(:disabled)::-ms-thumb {
  background: #009688;
  box-shadow: 0px 2px 4px 0px black; }

/* Track style ================================================================== */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: none;
  background: #5E5E5E;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: none;
  background: #5E5E5E;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  border: none;
  background: #5E5E5E;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
  background: #5E5E5E;
  border: none;
  border-radius: 3px; }
input[type=range]:focus::-ms-fill-lower, input[type=range]:focus::-ms-fill-upper {
  background: #676767; }
input[type=range]:disabled::-webkit-slider-runnable-track {
  cursor: default;
  background: #5E5E5E; }
input[type=range]:disabled::-moz-range-track {
  cursor: default;
  background: #5E5E5E; }
input[type=range]:disabled::-ms-track {
  cursor: default;
  background: #5E5E5E; }
input[type=range]:focus::-webkit-slider-runnable-track, input[type=range]:hover:not(:disabled)::-webkit-slider-runnable-track {
  background: #676767; }
input[type=range]:focus::-moz-range-track, input[type=range]:hover:not(:disabled)::-moz-range-track {
  background: #676767; }
input[type=range]:focus::-ms-track, input[type=range]:hover:not(:disabled)::-ms-track {
  background: #676767; }
input[type=range]:active:not(:disabled)::-webkit-slider-runnable-track {
  background: #676767; }
input[type=range]:active:not(:disabled)::-moz-range-track {
  background: #676767; }
input[type=range]:active:not(:disabled)::-ms-track {
  background: #676767; }

/* button::before: small shadow
 * button::after: big shadow */
button {
  position: relative;
  min-width: 88px;
  height: 36px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px;
  border: 0px;
  background: #009688;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  button::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 4px 0px black;
    -webkit-box-shadow: 0px 2px 4px 0px black;
    -ms-box-shadow: 0px 2px 4px 0px black;
    box-shadow: 0px 2px 4px 0px black;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  button::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    -moz-box-shadow: 0px 5px 16px -2px black;
    -webkit-box-shadow: 0px 5px 16px -2px black;
    -ms-box-shadow: 0px 5px 16px -2px black;
    box-shadow: 0px 5px 16px -2px black;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
button:focus, button:hover:not(:disabled) {
  outline: 0px;
  background-color: #26a69a; }
  button:focus::before, button:hover:not(:disabled)::before {
    opacity: 1; }
button:active:not(:disabled) {
  background-color: #009688; }
  button:active:not(:disabled)::before {
    opacity: 0; }
  button:active:not(:disabled)::after {
    opacity: 1; }
button:disabled {
  cursor: default;
  background-color: #959595; }
  button:disabled::before, button:disabled::after {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }

button.compact {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 32px; }

button.flat {
  background: none;
  border: none;
  color: #4db6ac; }
  button.flat::before, button.flat::after {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
button.flat:focus, button.flat:hover:not(:disabled) {
  outline: 0;
  background: #009688;
  color: white; }
button.flat:active:not(:disabled) {
  outline: 0;
  background: none;
  color: #009688; }
button.flat:disabled {
  background: none;
  border: none;
  color: #959595; }

button.white {
  color: #009688;
  background: white; }
  button.white::before {
    opacity: 1; }
button.white:focus, button.white:hover:not(:disabled) {
  color: white;
  background: #009688; }
button.white:active:not(:disabled) {
  color: #009688;
  background: white; }
button.white:disabled {
  color: #959595;
  background: white; }

.button-group {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: none; }
  .button-group::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-top: 1px solid #959595;
    border-bottom: 1px solid #959595;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    opacity: 1; }
  .button-group::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    border-top: 1px solid #26a69a;
    border-bottom: 1px solid #26a69a;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    opacity: 0; }
  .button-group:focus::before, .button-group:hover:not(:disabled)::before {
    opacity: 0; }
  .button-group:focus::after, .button-group:hover:not(:disabled)::after {
    opacity: 1; }
  .button-group.unique button.selected {
    cursor: default; }
    .button-group.unique button.selected:hover:not(:disabled) {
      background-color: #009688; }
  .button-group button {
    flex: 1;
    border-radius: 0px;
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 128px;
    height: 36px;
    background: none;
    color: #4db6ac;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .button-group button.selected {
      font-weight: bold;
      color: white;
      background-color: #009688; }
    .button-group button::before, .button-group button::after {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }
  .button-group button:focus:not(:disabled), .button-group button:hover:not(:disabled) {
    color: white;
    background-color: #26a69a;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
  .button-group button:active:not(:disabled) {
    color: white;
    background-color: #00897b;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none; }
  .button-group button:disabled {
    color: #959595;
    background-color: none;
    cursor: default; }
    .button-group button:disabled.selected {
      color: white;
      background-color: #959595; }

.button-group.compact > button {
  font-size: 12px;
  min-height: 32px;
  height: 32px;
  padding-top: 8px;
  padding-bottom: 8px; }

.checkbox {
  display: block;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox > input[type=checkbox] {
    opacity: 0; }

/* label.checkmark-line::before: box
 * label.checkmark-line::after: mark;
 */
input[type=checkbox] + label.checkmark-line {
  cursor: pointer; }
input[type=checkbox]:disabled + label.checkmark-line {
  cursor: default; }
input[type=checkbox] + label.checkmark-line::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
  border: 2px solid #009688;
  background: none;
  opacity: 1; }
input[type=checkbox]:checked + label.checkmark-line::before {
  -webkit-transform: translate(-2px, -6px) rotate(45deg);
  -ms-transform: translate(-2px, -6px) rotate(45deg);
  transform: translate(-2px, -6px) rotate(45deg);
  opacity: 0; }
input[type=checkbox] + label.checkmark-line::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 5px;
  width: 10px;
  height: 18px;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: solid #009688;
  border-width: 0 3px 3px 0;
  background: none;
  -webkit-transform: rotate(0) translate(5.5px, 1.5px);
  -ms-transform: rotate(0) translate(5.5px, 1.5px);
  transform: rotate(0) translate(5.5px, 1.5px);
  opacity: 0; }
input[type=checkbox]:checked + label.checkmark-line::after {
  -webkit-transform: translate(-2px, -6px) rotate(45deg) translate(5.5px, 1.5px);
  -ms-transform: translate(-2px, -6px) rotate(45deg) translate(5.5px, 1.5px);
  transform: translate(-2px, -6px) rotate(45deg) translate(5.5px, 1.5px);
  opacity: 1; }
input[type=checkbox]:hover:not(:disabled) + label.checkmark-line::before {
  border-color: #26a69a; }
input[type=checkbox]:hover:not(:disabled):checked + label.checkmark-line::after {
  border-color: #26a69a; }
input[type=checkbox]:active:not(:disabled) + label.checkmark-line::before {
  border-color: #009688; }
input[type=checkbox]:active:not(:disabled):checked + label.checkmark-line::after {
  border-color: #009688; }
input[type=checkbox]:disabled + label.checkmark-line::before {
  border-color: #959595; }
input[type=checkbox]:disabled:checked + label.checkmark-line::after {
  border-color: #959595; }

.checkbox {
  display: block;
  position: relative;
  min-height: 20px;
  min-width: 20px;
  background: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .checkbox > input[type=checkbox] {
    opacity: 0; }

/* label.checkmark-full::before: box
 * label.checkmark-full::after: mark;
 */
input[type=checkbox] + label.checkmark-full {
  cursor: pointer; }
input[type=checkbox]:disabled + label.checkmark-full {
  cursor: default; }
input[type=checkbox] + label.checkmark-full::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 2px;
  border: 2px solid #009688;
  background: none; }
input[type=checkbox]:checked + label.checkmark-full::before {
  border-color: #009688;
  background: #009688; }
input[type=checkbox] + label.checkmark-full::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 6.5px;
  width: 7px;
  height: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: solid #333333;
  border-width: 0 3px 3px 0;
  background: none;
  -webkit-transform: translate(0, -1px) scale(0) rotate(45deg);
  -ms-transform: translate(0, -1px) scale(0) rotate(45deg);
  transform: translate(0, -1px) scale(0) rotate(45deg); }
input[type=checkbox]:checked + label.checkmark-full::after {
  -webkit-transform: translate(0, -1px) scale(1) rotate(45deg);
  -ms-transform: translate(0, -1px) scale(1) rotate(45deg);
  transform: translate(0, -1px) scale(1) rotate(45deg); }
input[type=checkbox]:hover:not(:disabled) + label.checkmark-full::before {
  border-color: #26a69a; }
input[type=checkbox]:hover:not(:disabled):checked + label.checkmark-full::before {
  border-color: #26a69a;
  background: #26a69a; }
input[type=checkbox]:active:not(:disabled) + label.checkmark-full::before {
  border-color: #009688; }
input[type=checkbox]:active:not(:disabled):checked + label.checkmark-full::before {
  border-color: #009688;
  background: #009688; }
input[type=checkbox]:disabled + label.checkmark-full::before {
  border-color: #959595; }
input[type=checkbox]:disabled:checked + label.checkmark-full::before {
  border-color: #959595;
  background: #959595; }

a {
  font-family: Sans-Serif;
  text-transform: uppercase;
  color: #009688;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }
  a:focus, a:hover {
    border-bottom: 2px solid #009688; }

/*# sourceMappingURL=ui-dark.css.map */
